html,body {
  margin: 0;
  font-family: ariel;
}

header {
  width: 100%;
  height: 50px;
  display: flex;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  /*background-image: linear-gradient(to left, #81fbb8, #28c76f);
  background-color: #0093E9;*/
background-image: linear-gradient(160deg, #0093E9 5%, #80D0C7 100%);

}

header > h1 {
  color: #fff;
  font-size: 28px;
  font-weight: 800;
  text-align: center;
}

nav {
    width: 100%;
    height: auto;
    background-image: linear-gradient(5deg, #0396ff 5%, #ABDCFF);
}

nav > a {
  color: #fff;
  margin: 9px;
  font-size: 20px;
  font-weight: 800;
  padding: 9px;
  text-decoration: none;
}

a:hover {
    background-color: #353541;
    border-radius: 2px;
}

.dd1 {
  margin: auto;
  width: 800px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: transparent;
  /*border-radius: 0px 0px 11px 11px;*/
}

.dd1 > .fd1 {
  color: white;
  padding: 5px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #353541;
}

.dd1 > .fd2 {
  color: white;
  padding: 5px;
  text-align: center;
  margin-bottom: 30px;
  background-color: #353541;
}

.dd1 > .fd3 {
  color: white;
  padding: 5px;
  text-align: center;
  margin-bottom: 65px;
  background-color: #353541;
}

footer {
  width: 100%;
  height: auto;
  bottom: 0;
  padding: 10px;
  position: fixed;
  background-color: #353541;
  background-image: linear-gradient(5deg, #0396ff 5%, #ABDCFF);
}

footer > p {
  color: white;
  margin: 0;
  font-size: 22px;
  font-weight: 800;
  text-align: center;
}

@media (max-width: 620px) {
    header > h1 {
        font-size: 17px;
    }
    
    nav {
        display: flex;
        justify-content: center;
    }
    
    nav > a {
        padding: 1px;
        font-size: 15px;
    }
    
    .dd1 {
        width: 100%;
        height: auto;

    }
    
    footer > p {
        font-size: 15px;
    }
}